---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import BlogCard from '../../components/BlogCard.astro'

const allBlogPosts = await getCollection("blog");

const sortedBlogPosts = allBlogPosts.sort(
  (a, b) => Number(b.data.date) - Number(a.data.date)
);
---

<Layout>
  <section class="min-h-screen">
    <h1
      class="text-center text-6xl py-24 bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500 bg-clip-text text-transparent font-black"
    >
      Blog
    </h1>
    <div class="flex flex-wrap justify-center gap-4">
      {
        sortedBlogPosts.map((project) => (
          <BlogCard
          title={project.data.title}  
            imgSrc={project.data.imgSrc}
            description={project.data.description}
            date={project.data.date}
          />
        ))
      }
    </div>
  </section>
</Layout>
