---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <section
    class="bg-zinc-900 w-full mx-auto min-h-screen relative py-14 z-10 selection:bg-pink-600"
  >
    <header class="">
      <h1
        class="text-center text-6xl bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500 bg-clip-text text-transparent font-black"
      >
        Frontend Mentor
      </h1>
      <h4
        class="text-center text-3xl mt-4 bg-gradient-to-r w-2/5 mx-auto from-rose-400 via-fuchsia-500 to-indigo-500 bg-clip-text text-transparent font-black"
      >
        I'm doing a bunch of Frontend Mentor challenges to not suck at Frontend
      </h4>
    </header>
    <h2 class="text-center text-purple-600 text-4xl mt-12">Challenges</h2>
    <div class="min-h-screen w-5/6 mx-auto mt-10">
      <div class="max-w-sm rounded-md bg-zinc-800 overflow-hidden shadow-lg">
        <a href="/frontend-mentor/product-preview-component">
          <img
            class="w-full"
            src="/assets/frontend-mentor/product-preview-component/product-preview-card-image.png"
            alt="product preview component"
          />
          <div class="px-6 py-4">
            <div class="font-bold text-xl text-stone-300 mb-2">
              Product Preview Card Component
            </div>
          </div>
          <div class="px-6 pt-4 pb-2">
            <span
              class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
              >HTML</span
            >
            <span
              class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
              >CSS</span
            >
          </div>
        </a>
      </div>
    </div>
  </section>
</Layout>
