---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <main class="bg-zinc-900 w-full mx-auto min-h-screen relative py-14 z-10">
    <h2>I'm Doing a bunch of Frontend Mentor exercises to get good</h2>
    <a
      class="text-purple-500"
      href="/frontend-mentor/product-preview-component"
    >
      <h2>Product Preview Component</h2>
    </a>
  </main>
</Layout>
