---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1
    class="animate-text z-10 relative bg-gradient-to-r from-teal-500 via-purple-500 to-orange-500 bg-clip-text text-transparent text-5xl font-black"
  >
    Hello World
  </h1>
</Layout>
