---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="bg-zinc-900 w-11/12 mx-auto min-h-screen relative z-10">
    <section>
      <h1>Uwu</h1>
    </section>
  </main>
</Layout>
