---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="bg-zinc-900 w-11/12 mx-auto min-h-screen relative z-10">
    <section>
      <div class="border-2 flex justify-center w-11/12 mx-auto">
        <img src="/assets/me.jpg" width="256" />
      </div>
      <div class="border-2 border-red-400 w-11/12 mx-auto">
        <h1 class="text-zinc-100 font-bold text-4xl">
          I'm Donovan. I'm a developer in sunny Los Angeles enjoying building,
          learning and teaching.
        </h1>
        <div class="space-y-7 text-lg mt-10 text-zinc-400">
          <p>
            I have extensive background in customer service with over 10 years
            across different industries. My real passion that took awhile to
            find was building small web apps that people could use. I was
            inspired by the old Halo 3 companion by Bungie back in 2007.
            Learning by building is how I work best which is why I have spent a
            lot of time learning the fundamentals of the web and the React
            ecosystem.
          </p>
          <p class="text-zinc-400">
            I do try and spend some time trying to touch grass by playing golf,
            riding my skateboard but sometimes I can't resist losing ELO playing
            Valorant. I get inspired by other developers I follow on Twitter,
            idols and slice of life anime.
          </p>
        </div>
        <ul class="border-2 border-teal-900 my-6">
          <li>
            <a
              class="text-zinc-400 font-bold"
              href="https://twitter.com/Gamesense_gg"
              target="_blank"
            >
              Icon</a
            >
          </li>
          <li>
            <a
              class="text-zinc-400 font-bold"
              href="https://twitter.com/Gamesense_gg"
            >
              Icon</a
            >
          </li>
          <li>
            <a
              class="text-zinc-400 font-bold"
              href="https://twitter.com/Gamesense_gg"
            >
              Icon</a
            >
          </li>
        </ul>
      </div>
    </section>
  </main>
</Layout>
