---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="min-h-screen w-11/12 mx-auto">
    <h1
      class="text-6xl pt-32 bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500 bg-clip-text text-transparent font-black"
    >
      About
    </h1>
    <section class="lg:flex">
      <div class="mt-8">
        <h2 class="text-3xl my-2 p-1 border-l-2 border-secondary">
          Hi I'm Donovan!
        </h2>
        <p class="text-lg">
          I have extensive background in customer service with over 10 years
          across different industries. My real passion that took awhile to find
          was building small web apps that people could use. I was inspired by
          the old Halo 3 companion by Bungie back in 2007. Learning by building
          is how I work best which is why I have spent a lot of time learning
          the fundamentals of the web and the React ecosystem.
        </p>
      </div>
      <div class="mt-8">
        <h3 class="text-2xl my-2 p-1 border-l-2 border-secondary">
          Experience
        </h3>
        <p class="text-lg">
          While I'm still looking for a full time role I've done my best to get
          some experience (and money) for some of the code I write. I had a
          worked on a contract basis with the owner of <a
            href="https://simplish.co/"
            class="link link-secondary"
            target="_blank">Simplish</a
          >, who I met while teaching kids how to code at <a
            href="https://www.thecoderschool.com/"
            target="_blank"
            class="link link-secondary">theCoderSchool</a
          >. While prototyping a web app for Simplish I got to work with React,
          Tailwind and the Twilio API. At theCoderSchool I do my best a teach
          programming basics in a fun way using Scratch, JavaScript or game
          engines like Unity.
        </p>
      </div>
    </section>
  </section>
</Layout>
