---
import Layout from "../layouts/Layout.astro";

const projects = [
  {
    id: 1,
    title: "iTechedThat",
    link: "https://www.itechedthat.com/",
    github: "https://github.com/donovangomez/fighting-game-resources",
    imgSrc: "/assets/itechedthat.png",
    stack: "NextJS / TailwindCSS / Supabase / Next Auth",
  },
  {
    id: 2,
    title: "Adventurer Handbook",
    link: "https://adventurerhandbook-alpha.netlify.app/",
    imgSrc: "/assets/genshin-handbook.png",
    github: "https://github.com/donovangomez/fighting-game-resources",
    stack: "NextJS / Chakra UI / Supabase",
  },
  {
    id: 3,
    title: "Saliou Mboup",
    link: "https://salioumboup.com/",
    imgSrc: "/assets/sal.png",
    github: "https://github.com/donovangomez/fighting-game-resources",
    stack: "HTML / SCSS",
  },
];
---

<Layout>
  <main>
    <h1>Projects</h1>
    <div>
      {
        projects.map((project) => (
          <>
            <h1>{project.title}</h1>
            <img src={project.imgSrc} alt={project.title} />
          </>
        ))
      }
    </div>
  </main>
</Layout>
