---
---

<div class="hero min-h-screen bg-[url('/assets/texture.png)]">
  <div class="hero-content text-center">
    <div class="max-w-2xl border-2 w-11/12 border-red-500 text-left">
      <h3 class="text-5xl">Hi there! I'm</h3>
      <h1 class="text-7xl my-4">
        <span
          class="bg-gradient-to-r animate-text from-rose-400 via-fuchsia-500 to-indigo-500 bg-clip-text text-transparent font-black"
          >Donovan Gomez
        </span>
      </h1>
      <p class="text-2xl">
        I'm a frontend developer in Los Angeles building fun and accessible
        experiences for the web.
      </p>
      <div class="my-4 flex gap-4">
        <a href="/projects" class="btn btn-primary">My Work</a>
        <a href="/about" class="btn btn-outline btn-primary group relative"
          >Hire Me
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6 hidden group-hover:block"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
