---
---

<div class="hero min-h-screen bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl animate-text z-10 relative md:text-7xl">
        Hi I'm <span
          class="bg-gradient-to-r animate-text from-rose-400 via-fuchsia-500 to-indigo-500 bg-clip-text text-transparent font-black"
          >Donovan</span
        >
      </h1>
      <h2 class="text-4xl md:text-6xl">
        <span
          class="bg-gradient-to-r animate-text from-rose-400 via-purple-500 to-indigo-500 bg-clip-text text-transparent font-black"
          >Developer</span
        >
      </h2>
      <button class="btn btn-primary">Get Started</button>
    </div>
  </div>
</div>
