---
---

<nav
  class="relative flex border-2 mx-auto w-5/6 text-sm font-medium text-stone-50"
>
  <ul
    class="w-full border-2 border-red-300 mx-auto grid grid-cols-4 md:w-full lg:w-full"
  >
    <ul class="hidden md:flex md:gap-6 md:justify-start md:items-center">
      <li class="justify-center md:flex">
        <span>uwu</span>
      </li>
    </ul>
    <ul
      class="flex w-screen justify-center md:flex md:col-span-3 md:justify-end md:w-full gap-6"
    >
      <li>
        <a class="relative block px-3 py-2 transition" href="/projects"
          >Projects</a
        >
      </li>
      <li
        class="flex justify-center items-center hover:text-violet-500 transition duration-75"
      >
        <a href="/about">About</a>
      </li>
    </ul>
  </ul>
</nav>
