---
---

<div
  class="border-2 border-red-600 bg-white rounded-lg lg:bg-red-400 xl:flex xl:justify-center xl:items-center"
>
  <div class="border-4 border-purple-800">
    <img src="/assets/itechedthat.png" class="w-full" />
  </div>
  <div class="flex flex-col border-4 border-blue-400 gap-2 p-4">
    <h2 class="text-4xl">Project Title</h2>
    <p class="text-3xl">NextJS/ Tailwind / Prisma / ReactRouter</p>
    <p class="text-xl">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
      consectetur quia cum iste corrupti exercitationem.
    </p>
    <div>
      <a
        href="/projects"
        class="inline-block px-5 py-3 rounded-lg focus:outline-none focus:ring focus:ring-offset-2 uppercase tracking-wider font-semibold text-sm sm:text-base;"
      >
        Repo
      </a>
      <a
        href="/contact"
        class="bg-indigo-500 text-white hover:bg-indigo-400 focus:ring-indigo-500 focus:ring-opacity-50 active:bg-indigo-600 inline-block px-5 py-3 rounded-lg focus:outline-none focus:ring focus:ring-offset-2 uppercase tracking-wider font-semibold text-sm sm:text-base;"
      >
        Live
      </a>
      <a
        href="/contact"
        class="bg-indigo-500 text-white hover:bg-indigo-400 focus:ring-indigo-500 focus:ring-opacity-50 active:bg-indigo-600 inline-block px-5 py-3 rounded-lg focus:outline-none focus:ring focus:ring-offset-2 uppercase tracking-wider font-semibold text-sm sm:text-base;"
      >
        Details
      </a>
    </div>
  </div>
</div>
