---
---

<div>
  <div>
    <img src="/assets/itechedthat.png" />
  </div>
  <div>
    <h2>Project Title</h2>
    <p>NextJS/ Tailwind / Prisma / ReactRouter</p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
      consectetur quia cum iste corrupti exercitationem.
    </p>
    <div>
      <a
        href="/projects"
        class="inline-block px-5 py-3 rounded-lg focus:outline-none focus:ring focus:ring-offset-2 uppercase tracking-wider font-semibold text-sm sm:text-base;"
      >
        Repo
      </a>
      <a
        href="/contact"
        class="bg-indigo-500 text-white hover:bg-indigo-400 focus:ring-indigo-500 focus:ring-opacity-50 active:bg-indigo-600 inline-block px-5 py-3 rounded-lg focus:outline-none focus:ring focus:ring-offset-2 uppercase tracking-wider font-semibold text-sm sm:text-base;"
      >
        Live
      </a>
      <a
        href="/contact"
        class="bg-indigo-500 text-white hover:bg-indigo-400 focus:ring-indigo-500 focus:ring-opacity-50 active:bg-indigo-600 inline-block px-5 py-3 rounded-lg focus:outline-none focus:ring focus:ring-offset-2 uppercase tracking-wider font-semibold text-sm sm:text-base;"
      >
        Details
      </a>
    </div>
  </div>
</div>
