---
---

<main class="h-[94vh] flex justify-center items-center bg-violet-300">
  <div
    class="-mt-52 flex flex-col gap-5 w-5/6 border-2 md:bg-red-400 md:w-4/6 lg:w-3/6"
  >
    <h1 class="text-5xl md:text-7xl">Hi I'm Donovan</h1>
    <h2 class="text-4xl md:text-6xl">I'm a developer and</h2>
    <h2 class="text-4xl md:text-6xl">I like making cool things</h2>'
    <div>
      <a
        href="/projects"
        class="inline-block px-5 py-3 rounded-lg focus:outline-none focus:ring focus:ring-offset-2 uppercase tracking-wider font-semibold text-sm sm:text-base;"
      >
        My Work
      </a>
      <a
        href="/contact"
        class="bg-indigo-500 text-white hover:bg-indigo-400 focus:ring-indigo-500 focus:ring-opacity-50 active:bg-indigo-600 inline-block px-5 py-3 rounded-lg focus:outline-none focus:ring focus:ring-offset-2 uppercase tracking-wider font-semibold text-sm sm:text-base;"
      >
        Say Hi
      </a>
    </div>
  </div>
</main>
