---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const allProjects = await getCollection("projects");

const sortedProjects = allProjects.sort(
  (a, b) => Number(b.data.datePublished) - Number(a.data.datePublished)
);
---

<Layout>
  <main>
    <h1
      class="text-center text-6xl py-24 bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500 bg-clip-text text-transparent font-black"
    >
      Projects
    </h1>
  </main>
</Layout>
